<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nickc.todo.mapper.MissionMapper" >
  <resultMap id="BaseResultMap" type="com.nickc.todo.pojo.Mission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="user" property="user" jdbcType="INTEGER" />
    <result column="important" property="important" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByGroup" parameterType="java.lang.Integer" >
    delete from mission
    where groupid = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.nickc.todo.pojo.Mission" >
    insert into mission ( text, groupid,
      user, important, status
      )
    values ( #{text,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER},
      #{user,jdbcType=INTEGER}, #{important,jdbcType=BIT}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nickc.todo.pojo.Mission" >
    update mission
    set text = #{text,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      user = #{user,jdbcType=INTEGER},
      important = #{important,jdbcType=BIT},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, text, groupid, user, important, status
    from mission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap" >
    select id, text, groupid, user, important, status
    from mission where groupid=#{groupId,jdbcType=INTEGER} and user=#{user,jdbcType=INTEGER}
  </select>

  <select id="getImportant" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, text, groupid, user, important, status
    from mission
    where user = #{uid,jdbcType=INTEGER} and important=true
  </select>
</mapper>